.dialogBoxSearchingInput {
    border-radius: 20px;
    border: none;
    margin: 4px;
    font-size: 20px;
    outline: none;
}

.dialogBoxSearchingInput:focus {
    border: none;
    outline: none;
}

.inputAndDialogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}